//footer

.footer{
  --bs-body-font-size: 18px;
  --bs-body-color: #525c60;

  color: var(--bs-body-color);
  font-size: var(--bs-body-font-size);
  line-height: 165%;

  @include padding-top(110px);
  padding-bottom: 0;

  .container-fluid{
    border-top: 1px solid #D4D4D4;
  }

  .col{
    padding: 25px;
  }

  &-title {
    @include font-size(30px);

    margin-bottom: 32px;
  }

  &-subtitle {
    @include font-size(18px);
  }

  &-links{
    a{
      text-decoration: none;
    }
  }
}