@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/effect-fade';

#root {
  --swiper-theme-color: #6db193;
}

@media (max-width: 1024px) {
  #root {
    --swiper-navigation-top-offset: 100px;
  }
}

.swiper-wrapper {
  padding-bottom: 40px;
}

.swiper-button-next,
.swiper-button-prev {
  transition: transform 0.2s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.2);
}

.swiper-pagination-bullet:hover {
  background: #ffa858;
}

.swiper-pagination-bullet-active {
  cursor: pointer;
  pointer-events: none;
}
