/* @type tailwindcss */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* For flip-effect */
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  .rotate-y--180 {
    transform: rotateY(-180deg);
  }
  .perspective-1200 {
    perspective: 1200px;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
}
