//HERO

.hero{

  @include rfs(250px, --img-left-top);
  @include rfs(320px, --img-left-bottom);
  @include rfs(120px, --img-center-top);
  @include rfs(250px, --img-right-top);
  @include rfs(150px, --img-right-bottom);

  background:
          url("../images/svg/hero/LeftBottom.svg") left bottom  no-repeat,
          url("../images/svg/hero/LeftTop.svg") left top no-repeat,
          url("../images/svg/hero/TopCenter.svg") center top no-repeat,
          url("../images/svg/hero/RightTop.svg") right top no-repeat,
          url("../images/svg/hero/RightBottom.svg") right bottom no-repeat,
          url('../images/background/banner.png') center center no-repeat;

  background-size:
          var(--img-left-top) auto,
          var(--img-left-bottom) auto,
          var(--img-center-top) auto,
          var(--img-right-top) auto,
          var(--img-right-bottom) auto,
          cover;
}


body[data-page="about"]{
  .hero{
    background: url('../images/pages/about/background/about-bg.png') center center no-repeat;
  }
}


